[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git@github.com:wincent/command-t.git
[submodule "bundle/lightline"]
	path = bundle/lightline
	url = git@github.com:itchyny/lightline.vim.git
[submodule "bundle/lightline.vim"]
	path = bundle/lightline.vim
	url = git@github.com:itchyny/lightline.vim.git
[submodule "fonts/powerline"]
	path = fonts/powerline
	url = git@github.com:powerline/fonts.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = git@github.com:ervandew/supertab.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
